@model IEnumerable<MyBlog.Models.CategoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Kategori Listesi</h2>
<hr/>
<p>
    @Html.ActionLink("Add Category", "Create",null,new {@class="btn btn-primary"})
</p>
@if (TempData["Category"] != null)
{
    var category = (MyBlog.Models.Category)TempData["Category"];
    
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <b> @category.CategoryName</b> Kayıt Edildi.
    </div>
}
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th style="width:70%">
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th style="width:16%">
            @Html.DisplayNameFor(model => model.BlogCount)
        </th>
        <th style="width:14%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.CategoryName
            @*@Html.DisplayFor(modelItem => item.CategoryName)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogCount)
            @*@item.BlogCount*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id },new {@class="btn btn-warning btn-xs"}) 
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
